.menu {
    background-color: #EDEFF0;
}
.footer {
    text-align: center;
}
.btn-green .webix_button {
    color: green;
    font-size: 14px;
    font-weight: 400;
} 
.btn-green .webix_button .webix_icon_btn {
    color: green;
}